<h1>SGTM</h1>
<h3>こんにちは! <%= current_user.nickname %>さん</h3>

<% if user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
  <%= link_to "編集", edit_user_registration_path(current_user.id) %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
  <%= link_to "ルームを作る", new_room_path %>
  <h2>ルーム一覧</h2>
  <%# <% @rooms.each do |room| %>
    <%# <div class="room"> %>
      <%# <%= link_to room.name, room_messages_path(room) %> %>
    <%# </div> %>
  <%# <% end %> %> %>
<% else %>
  <%= link_to "ユーザー登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>